.container {
    display: flex;
    justify-items: center;
}

.row {
    margin: 2px;
}

.innerDivs {
    border: darkblue 1px solid;
    height: 2rem;
    width: 2rem;
}

.mouseover {
    background-color: darkblue;
}

.button {
    margin: 1rem;
}